* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #333;opacity:0.9; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: #FF7B00;
  text-align: center;
  padding: 15px;
  font-family: monospace;
  text-decoration: none;
  cursor: url("https://mark_sztripszky.gitlab.io/pub-uno/img/favicon3.ico"), crosshair;
}

#navbar a:hover {
  background-color: #FF7B00;
  color: black;
}

/* parallaxx images */

.parallax-joseluis{
  /* The image used */
  background-image: url("https://mark_sztripszky.gitlab.io/pub-uno/img/joseluis.jpg");

  /* Set a specific height */
  min-height: 500px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
}

.parallax-blob{
  /* The image used */
  background-image: url("https://mark_sztripszky.gitlab.io/pub-uno/img/bioblob2.png");

  /* Set a specific height */
  min-height: 350px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
}

.parallax-wblob{
  /* The image used */
  background-image: url("https://mark_sztripszky.gitlab.io/pub-uno/img/whiteblob.png");

  /* Set a specific height */
  min-height: 350px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
}

.parallax-placeholder {
  /* The image used */
  background-image: url("https://mark_sztripszky.gitlab.io/pub-uno/img/......");

  /* Set a specific height */
  min-height: 350px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1000px;
}

/* body styles */

body {
  padding-top: 60px;
  cursor: cell;
}

body.bio {
  background-color: white;
  background-image:url("https://mark_sztripszky.gitlab.io/pub-uno/img/bioblob2.png");
  background-repeat:repeat-y;
  background-position:25% 75%;
}

body.aow {
  background-color: #F0FCF7;
}

body.designstudio {
  background-color: #333;
}

body.material {
  background-color: #C50F1F;
}

body.hybrid {
  background-color: #0037D9;
}

body.ideas {
  background-color: #74B2DF;
}

body.taums {
  background-color: #DFE0DF;
}
/* iFrame wrap and styles */

.wrap-element {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.wrapped-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* link styles */


/* Styles - Main body */
.wrapper {
  width: 100%;
}

.main-body {
  width: 100%;
}

.main-body h2{
  padding:30px 15px 25px;
  font-family:monospace;
  font-size:40px;
  margin-top:30px;
  line-height: 44px;
}

.main-body p{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: Black;
}

.main-body a{
  cursor: url("https://mark_sztripszky.gitlab.io/pub-uno/img/favicon3.ico"), pointer;
  }

.main-body p2{
  padding:0px 0px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: Black;
}

.main-body b1{
  padding:0px 0px 20px;
  font-family:monospace;
  font-size:24px;
  font-style: Bold;
  margin-top:50px;
  line-height: 24px;
  color: Black;
}

.img-me {
  max-width: 800px;
  max-height: 600px;
}

ul {
  list-style-type: default;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  margin-left:35px;
  line-height: 24px;
  color: Black;
}


/* Style - bio body */
.bio-body p{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: #168664;
}

ul.bio{
  list-style-type: default;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  margin-left:25px;
  line-height: 24px;
  color: #168664;
}

.bio-body a:link {
    color: #168664;
    text-decoration: underline;
}
.bio-body a:visited {
    color: #168664;
    text-decoration: underline;
}
.bio-body a:hover {
    color: #BF5733;
    text-decoration: underline;
}

.bio-body p2{
  padding:0px 0px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: #168664;
}

.bio-body h2{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:40px;
  margin-top:30px;
  line-height: 44px;
  color: #168664;
}

.bio-body h3{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:18px;
  margin-top:50px;
  line-height: 18px;
  color: #168664;
}

.bio-body b1{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:24px;
  font-style: Bold;
  margin-top:50px;
  line-height: 24px;
  color: #168664;
}

/* Style - design body */
.des-body p{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: #FF7B00;
}

.des-body a:link {
    color: #FF7B00;
    text-decoration: underline;
}
.des-body a:visited {
    color: #FF7B00;
    text-decoration: underline;
}
.des-body a:hover {
    color: white;
    text-decoration: underline;
}

.des-body h2{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:40px;
  margin-top:30px;
  line-height: 44px;
  color: #FF7B00;
}

.des-body h3{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:18px;
  margin-top:50px;
  line-height: 24px;
  color: #FF7B00;
}

.des-body p2{
  padding:0px 0px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: #FF7B00;
}

.des-body b1{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:24px;
  font-style: Bold;
  margin-top:50px;
  line-height: 24px;
  color: #FF7B00;
}

/* Style - white body */
.white-body p{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: white;
}

ul.white{
  list-style-type: default;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  margin-left:25px;
  line-height: 24px;
  color: white;
}

.white-body a:link {
    color: #168664;
    text-decoration: underline;
}
.white-body a:visited {
    color: #168664;
    text-decoration: underline;
}
.white-body a:hover {
    color: #BF5733;
    text-decoration: underline;
}

.white-body p2{
  padding:0px 0px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: white;
}

.white-body h2{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:40px;
  margin-top:30px;
  line-height: 44px;
  color: white;
}

.white-body h3{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:18px;
  margin-top:50px;
  line-height: 18px;
  color: white
}

.white-body b1{
  padding:0px 15px 20px;
  font-family:monospace;
  font-size:24px;
  font-style: Bold;
  margin-top:50px;
  line-height: 24px;
  color: white;
}

/* Responsive styles below */

/* divided page style elements */
.wrapper-sep {
  width: 100%;
}

.main-body-sep {
  width: 100%;
}

.main-body-sep h2{
  padding:30px 15px 25px;
  font-family:monospace;
  font-size:40px;
  margin-top:30px;
  line-height: 44px;
}

.main-body-sep p{
  padding:0px 15px 10px;
  font-family:monospace;
  font-size:14px;
  margin-top:10px;
  line-height: 24px;
  color: Black;
}

.main-body-sep a{
  cursor: url("https://mark_sztripszky.gitlab.io/pub-uno/img/favicon3.ico"), pointer;
  }

.img-me-sep {
  width:100%;
  max-width: 800px;
  max-height: 800px;
}

/* Tablet */
@media only screen and (min-width:768px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .main-body {
    width: 1000px;
    margin: 0 auto;
  }

  .main-body h2{
    padding:20px 5px 5px;
  }

  .main-body p{
    padding:10px 5px 0px;

  }
  .img-me {
    padding-top: 30px;
  }

  /* Tablet bio body */
  .bio-body {
    width: 1000px;
    margin: 0 auto;
  }

  .bio-body h2{
    padding:20px 5px 5px;
  }

  .bio-body p{
    padding:10px 5px 0px;

  }

  /* Tablet design body */
  .des-body {
    width: 1000px;
    margin: 0 auto;
  }

  .des-body h2{
    padding:20px 5px 5px;
  }

  .des-body p{
    padding:10px 5px 5px;

  }

  /* Tablet white body */
  .white-body {
    width: 1000px;
    margin: 0 auto;
  }

  .white-body h2{
    padding:20px 5px 5px;
  }

  .white-body p{
    padding:10px 5px 5px;

  }

}

/* Desktop - for now I'm not specifying this. */
@media only screen and (min-width:1000px) {
  /* divided page style elements */
  .wrapper-sep {
    width: 1000px;
  }

  .main-body-sep {
    width: 50%;
    float: right;
  }

  .main-body-sep h2{
    font-family:monospace;
    font-size:40px;
    margin-top:30px;
    line-height: 44px;
    padding:20px 5px 5px 30px;
  }

  .main-body-sep p{
    padding:20px 5px 5px 30px;
    font-family:monospace;
    font-size:14px;
    margin-top:10px;
    line-height: 24px;
  }
  .img-me-sep {
    padding-top: 30px;
    width: 50%;
    float: left;
  }
}

/* Thumbnail images */

.img-thumbnail {
padding:10px 10px 0px;
  width: 80;
  max-width: 400px;
  max-height: 600px;
}
